
<div class="container" style="min-height: 100vh; position: relative; ">
  <div class="row">

<h1 class="contact">Contact Us</h1>
    <div class="col-md-4 col-sm-6">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <div class="icon"><img src="https://img.icons8.com/bubbles/50/000000/phone.png"/></div>


          <div class="contact-info">
            <h1 class="">phone</h1>

          <h2>+1 234 123 1234</h2>
          <h2>+1 234 123 1234</h2>
         </div>
        </div>
      </div>

     </div>

    <div class="col-md-4 col-sm-6">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <div class="icon"><img src="https://img.icons8.com/bubbles/50/000000/new-post.png"/></div>


          <div class="contact-info">
            <h1 class="">Email</h1>
            <h2>info@gmail.com</h2>
            <h2>abcd@gmail.com</h2>
         </div>
        </div>
      </div>

     </div>

    <div class="col-md-4 col-sm-6">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <div class="icon"><img src="https://img.icons8.com/bubbles/50/000000/map-marker.png"/></div>

          <div class="contact-info">
            <h1 class="">adress</h1>
          <h2>Fatikchhari, </h2>
          <h2>Bangladesh</h2>
         </div>
        </div>
      </div>

     </div>



     </div>
  </div>

