.container{
  height: auto;
}
.row{
  margin-top: 15%;
}
.contact_title{
  text-align: center;
  color: #8d3d7b;
  font-size: 45px;
  margin: 0% 0% 7% 0%;
}
.card{
    padding: 50px;
    text-align: center;
    border-radius: 10px;
    margin: 5%;
    align-items: center;
    box-shadow: 0px 0px 18px 0 #8d3d7b;
    transition: 0.3s ease box-shadow;
    background: rgba(197, 20, 67, 0.2);
}

.card:hover{
  box-shadow: 0px 0px 5px 0 #0000002c;
 }
.card .icon{
  width: 70px;
  margin: 0 auto;
  margin-bottom: 10px;
 }
.card h1{
  font-size: 2.5rem;
  font-weight: 500px;
 margin-bottom: 5px;
 color: #8d3d7b;
 }
 .card h2{
  font-size: 1rem;
  font-weight: 500px;
 line-height: 2rem;
 color: #8d3d7b;
 }


