.container{
  margin-top: 5%;
}
.row{
  margin-top: 15%;
}
.companies_header{
  text-align: center;
  color: #8d3d7b;
  font-size: 45px;
  margin: 0% 0% 7% 0%;
}


.card-body{
  background-color: #8d3d7b;
  color: #fff;
  text-align: center;
  align-items: center;
}

.card a{
  text-decoration: none;
}


 .col-md-3{
  margin-bottom: 5%;
}
.col-md-3 img{
height:200px!important;
width:100%!important;
  margin-bottom: 5%;

}

.col-md-3:hover{
  transform: translateY(-8px);
  transition: 0.5s ease all;

}
.readmore{
  background-color: #ef07a8;
  color: #fff;
  border-radius: 9%;
  padding: 3% 5%;
  border: none;

}
/* ---------------------card-body ------------------- */
h5{
  margin-bottom: 10%;
}
h4{
  color: #ef07a8 ;
}
img{
  border-radius: 50%;
  margin-bottom: 10%;
}

/* --------------------search------------------------ */
.mynewform{
  display: flex;
margin:0 0% 4% 0% ;
}
#mybtn {
  width: 85%;
  background: rgba(197, 20, 67, 0.2);
}
.btn{
  width: 15%;
  background:#8d3d7b;
color: #fff;
}





/* ------------------ pagination ----------------- */
pagination-controls{
color:#bd44a0;
font-size: larger;
font-weight: bolder;

 }
