.container{
  margin-top: 5%;
}
.row{
  margin-top: 15%;
}
.card{
  display: inline !important;
  box-shadow: 0px 0px 18px 0 #0000002c;
  transition: 0.3s ease box-shadow;
}
.companies{
  text-align: center;
  color: #8d3d7b;
  font-size: 45px;
  margin: 0% 0% 7% 0%;
}
.card-body{
  background-color: #8d3d7b;
  color: #fff;
  text-align: center;
  align-items: center;
}

.readmore{
  background-color: #ef07a8;
  color: #fff;
  border-radius: 9%;
  padding: 3% 5%;
  border: none;

}
h5{
  margin-bottom: 10%;
}
h4{
  color: #ef07a8 ;
}
img{
  border-radius: 50%;
  margin-bottom: 10%;
}


.card a{
  text-decoration: none;
}
.card:hover{
  box-shadow: 0px 0px 5px 0 #0000002c;
  border-bottom: 2px bold solid;
 }


/* --------------------search------------------------ */
.mynewform{
  display: flex;
margin:0 0% 4% 0% ;
}
#mybtn {
  width: 85%;
  background: rgba(197, 20, 67, 0.2);
}
.btn{
  width: 15%;
  background:#8d3d7b;
color: #fff;
}



.col-md-3{
  /* flex-basis: 25%; */
  /* min-width: 300px; */
  margin-bottom: 50px;
  padding: 10px;
  transition: transform 0.5s;


}
.col-md-3 img{
  width: 100%;
  height: 100%;
  padding-bottom: 10px;
}

.col-md-3:hover{
  transform: translateY(-5px);
  cursor: pointer;
}
