
<div class="container">
  <div class="row">
<!--
    <div class="mynewform">
      <input id="mybtn" #seacrhInput class="form-control me-2" [(ngModel)]="searchText" type="search" placeholder="Search by Name of GIF or Category" #tagInput (keyup)="(search())"  (keydown)="searchas()" >
      <button class="btn bb" id="search" (click)="search()" >Search</button>
  </div> -->

    <div  class="col-md-3 col-sm-6" *ngFor="let company of companies">
      <div class="card" >
         <div class="card-body">
          <img src="{{ company.img1 }} " class="card-img-top" style="height:250px!important;width:100%!important;"  alt="...">
        <h4>{{ company.name }}</h4>
        <p>{{ company.description }}</p>
        <h5>{{ company.review }}</h5>
          <a class="readmore" [routerLink]="['details',company.id]">Read More </a>
        </div>
      </div>
    </div>


  </div>
</div>

