

<section class="team section" style="min-height: 100vh;">
  <div class="container">
    <div class="row">
      <h1 class="ourTeam">Our Team Section</h1>

          <div class="col-md-4 col-sm-6 col-sm-12">
              <div class="team-item">
                  <figure>
                      <img src="https://i.imgur.com/Ur43esv.jpg" alt="">
                      <figcaption>
                          <div class="info">
                              <h3>Ali Ahmed</h3>
                              <p>C++ developer</p>
                          </div>

                      </figcaption>
                  </figure>
              </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="team-item">
                  <figure>
                      <img src="https://i.imgur.com/8RKXAIV.jpg" alt="">
                      <figcaption>
                          <div class="info">
                              <h3>AbdElrahman Mohamed</h3>
                              <p>java developer</p>
                          </div>

                      </figcaption>
                  </figure>
              </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="team-item">
                  <figure>
                      <img src="https://i.imgur.com/J6l19aF.jpg" alt="">
                      <figcaption>
                          <div class="info">
                              <h3> tolen Soltan</h3>
                              <p>Marketing Manager</p>
                          </div>

                      </figcaption>
                  </figure>
              </div>
          </div>
      </div>
  </div>
</section>
